$vars: (
    
    primary: #bc2a2b,
    primary-hover: #d73b3b,
    secondary: #af48c2,
    
    password-toggle-radius: var(--radius),
    input-radius-md: var(--radius),
    button-radius-md: var(--radius),
    pin-radius: var(--radius),

);

$light: (
    background: #e6eaf2,
    surface: #fff,
    surface-hover: #f6f6f6,
    muted: #fff,
    muted-hover: #f6f6f6,
    text-primary: #111,
    text-primary-hover: #222,
    text-secondary: #444,
    text-secondary-hover: #666,
    border-primary: #ddd,
    border-secondary: #eee,
);

$dark: (
    background: #131313,
    surface: #1e1f20,
    surface-hover: #292a2c,
    muted: #272829,
    muted-hover: #2e2f31,
    text-primary: #fff,
    text-primary-hover: #f6f6f6,
    text-secondary: #e3e3e3,
    text-secondary-hover: #d8d8d8,
    border-primary: #333,
    border-secondary: #444,
);

body {

    color-scheme: light dark;

    @each $name, $value in $vars{
        --#{$name}: #{$value};
    }

    
    @each $name, $value in $light {
        --#{$name}: #{$value};
    }   
    
}

[color-scheme="dark"] {
    body{
        @each $name, $value in $dark {
            --#{$name}: #{$value};
        }
    }
}

html, body {
  background: var(--background);
  color: var(--text-primary);
  font-size: var(--text-md);
}

a{ color: var(--text-primary); user-select: none; }