/* Zuz Generated CSS */

.zf00afsr { font-size: 24px; }
.zf001np7 { font-weight: bold; }
.zf00e5gc { font-size: 16px; }
.zw00erzf { width: 500px; }
.zp003pzj { padding: 20px; }
.zb000i3h { border-radius: var(--radius); }
.zd00bc0j { display:flex; }
.za009bpl { align-items:center; }
.zj005put { justify-content:center; }
.zf00dt21 { flex-direction:column; }
.zm00gqm3 { margin-top: 25px; }
.zf005l3u { font-size: 50px; }
.zm0036pp { margin-bottom: 25px; }
.zc006sht { color: var(--red-800); }
.zc00hzue { color: var(--green-700); }
.zf00kfq6 { font-size: 18px; }
.zp0077xb { position:relative; }
.zz0097k0 { z-index: 3; }
.zw000esk { width: 100%; }
.zp005x8j { padding: 20vh 20px 20px 20px; }
.zh00j3hs { height: 10px; }
.zp002hc0 { padding: 40px 25px; }
.zz00lr8f { z-index: 99; }
.zp00kixz:ph { padding: 20px; }
.zh00c246 { height: 70px; }
.zf0052em { flex: 1; }
.zg00jdya { gap: 4px; }
.zf009xjn { font-weight: 900; }
.zf007v6i { font-size: 14px; }
.zb00iem1 { background: var(--button-link); }
.zb002hb2 { border-radius: 5px; }
.zp00j4pa { padding: 1px 4px 0px 4px; }
.zb00ail2 { border: 1px var(--button-link-border) solid; }
.zo008bwa { opacity: 0.5; }
.zj00hibb { justify-content:flex-end; }
.zg00818v { gap: 10px; }
.zb00jkrj { background: transparent !important; }
.zc006e86 { color: var(--text); }
.zg003750 { gap: 6px; }
.zw00iu8t { width: 25px; }
.zf00hrpy { font-size: 10px; }
.zm00260e { margin-left: 20px; }
.zt00acjc { text-decoration:none; }
.zb005y2z { background: var(--surface); }
.zp004xkc { padding: 6px 10px; }
.zb005xe1 { border-radius: var(--radius-lg) 0px 0px var(--radius-lg); }
.zt003a1q { transition: all 0.1s ease-in-out 0s; }
.zb00g0ui:hover { background: var(--primary); }
.zs00jh4u:hover { scale: 1.05; }
.zm001vdp { margin-left: 1px; }
.zb00gmyx { border-radius: 0px var(--radius-lg) var(--radius-lg) 0px; }
.zh002jjq { height: 100vh; }
.zw00ho00 { width: 50vw; }
.zp00m92a { position:absolute; }
.zt000iof { top:50%;left:50%;--abc-x:-50%;--abc-y:-50%;translate:calc(var(--abc-x) + var(--fx-x, 0px)) calc(var(--abc-y) + var(--fx-y, 0px)); }
.zp00b36r { padding: 150px; }
.zg00cidw { gap: 15px; }
.zc006cfx { color: transparent;background-clip: text;-webkit-background-clip: text; }
.zb00h4pe { background-image: linear-gradient(to right, var(--primary), var(--secondary)); }
.zw00988y { width: 75px; }
.zm00cn5z { margin-bottom: 100px; }
.zb00hw2u { background: var(--primary); }
.zp001m0u { padding: 12px 24px; }
.zb00jad9 { border-radius: var(--radius-lg); }
.zf00etom { font-size: var(--text-lg); }
.zc00289u { color: #fff; }
.za00gcxm { align-self:flex-start; }
.zm00jzbt { margin-top: 50px; }
.zb00a33v:hover { background: var(--primary-hover); }
.zw007g17 { width: 320px; }
.zg00ebip { gap: 12px; }
.zf00kcc7 { font-size: 20px; }
.zf003n9t { font-weight: 700; }
.zm00im1j { margin-bottom: 10px; }
.zm00jb8c { margin-top: 35px; }
.zt00cqk2:hover { text-decoration:underline; }
.zf00lcdz { font-size: var(--text-xl); }
.zf007gro { font-size: var(--text-md); }
.zm00b8w1 { margin-top:35px;margin-bottom:35px; }
.zf0023g6 { font-size: var(--text-xl) !important; }
.zm00auef { min-height: 100vh; }